@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --main-background: #2e2f2e;
  --font-yellow: #fbce75;
  --font-dark-gray: #4a4b4a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--main-background);
  color: var(--font-yellow);
  font-size: 32px;
}

#dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  width: 20vw;
}

select {
  height: 2.8rem;
  font-size: 1.8rem;
  color: var(--font-dark-gray);
}

#data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin: 2rem 0;
}

h1 {
  margin-bottom: 1rem;
}

#chart {
  margin: 3rem auto;
  height: 475px;
  width: 90vw;
}
